.table{
    filter: drop-shadow(0px 2px 8px $shadow);
    border-radius: 0px 0px 10px 10px;
    table {
        min-width: 100%;
    } 

    @include mobile {
        width: 320px;
        overflow: hidden;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        margin:   0 6% 19%  0;
        &_sort {
            width: 6px;
            height: 6px;
            background: none;
            border: none;
        }
        
    }
}

.table__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: $black-50;
    background: $white;
    padding-left: 20px;
    &_reting{
        margin-right: 24px;
        
    }
    &_caunt {
        padding-left: 15%;

    }
    &_section {
        display: flex;
        align-items: flex-end;
        @include mobile {
            display: flex;
            margin-left: 34px;
        }
    }
    &_title {
        display: flex;
        @include mobile {
            display: none;
        }
    }
    &_title-320 {
        display: none;
        @include mobile {
            display: flex;
        }
    }
    @include mobile {
        height: 27px;
        font-size: 14px;
        padding-left: 10px;
    }
}

.table__main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey;
    font-size: 16px;
    line-height: 110%;
    padding-left: 20px;
    td:not(:first-child){
            margin-left: 44px;
        }
        &_session {
            width: 165px;
        }
    @include mobile {
        height: 42px;
        padding-left: 10px;
        td:not(:first-child)
         {
            margin-left: 44px;
        }
        &_session {
            width: 128px;
        }
    }
}

.table__main:nth-child(odd) {
    background-color: $white;
}


.table__main_reting{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: $blue;
    margin-right: 24px;
    }
