.table{
    filter: drop-shadow(0px 2px 8px $shadow);
    border-radius: 0px 0px 10px 10px;
    table {
        min-width: 100%;
    } 

    &__btn {
        display: flex;
        flex-direction: column;
        margin:   0 6% 19%  0;
        &_sort {
            width: 6px;
            height: 6px;
            background: none;
            border: none;
        }
        
    }
}

.table__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: $black-50;
    background: $white;
    padding-left: 20px;
    &_reting{
        margin-right: 24px;
    }
    &_caunt {
        margin-left: 10%;
    }

    &_section {
        display: flex;
        align-items: flex-end;
    }
}

.table__main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey;
    font-size: 16px;
    line-height: 110%;
    padding-left: 20px;
}

.table__main:nth-child(odd) {
    background-color: $white;
}

.table__main_reting{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: $blue;
    margin-right: 24px;
    }
