.footer {
    grid-area: "footer";
    background: $black;
    &__top{
        display: flex;
        margin: 50px 40px 0 40px; 
        border-bottom: 1px solid $white;

    }
    &__logo{
        width: 187px;
        height:32px;
        margin-bottom: 37px;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_app{
            display: flex;
            justify-content: space-between;
            height: 40px;
            width: 284px;
            margin-bottom: 50px;
        }

        &_kontakt {
            p {
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 110%;
                display: flex;
                align-items: center;
                color: $blue-50;
                margin-bottom: 23px;
            }
           
        }
        &_tfone {
            display: flex;
            justify-content:space-between ;
            max-width: 167px;
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            display: flex;
            align-items: center;
            text-align: right;
            margin-bottom: 16px;
            a {
                color: $white;
                text-decoration: none;
            }
            
            
        }
        &_mail {
            display: flex;
            justify-content:space-between ;
            max-width: 145px;
            font-family: Proxima Nova;
            font-size: 16px;
            line-height: 110%;
            display: flex;
            align-items: center;
            text-align: right;
            margin-bottom: 33px;
            a {
                color: $white;
                text-decoration: none;
            }
            
        }
    }
    .documents {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 52%;
        margin-right: 9%;
        &__sections {
            display: flex;
            flex-direction: column;
            align-self:flex-start;
            justify-content: space-between;
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            color: $white;
            h3 {
                margin-bottom: 20px;
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 110%;
                color: $blue-50;
                }
                p {
                    margin-bottom: 10px;
                }
        }
    }
    .bottom-footer {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: 0 auto;
        p {
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            color: $white;
        }
        &_block-share{
            display: flex;
            justify-content: space-between;
            width: 22%;
        }
    }

}

.flexwrapper{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}