.footer {
    grid-area: "footer";
    background: $black;
    @include mobile {
        max-width: 320px;
        position: relative;
    }
    &__top{
        display: flex;
        margin: 50px 40px 0 40px; 
        border-bottom: 1px solid $white;
        @include mobile {
            margin: 20px 47px 0 47px;
            border-bottom: none ;
        }

    }
    &__logo{
        width: 187px;
        height:32px;
        margin-bottom: 37px;
        @include mobile {
            width: 120px;
            height:20px;
            margin-bottom: 26px;
        }
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
        }

        &_app{
            display: flex;
            justify-content: space-between;
            height: 40px;
            width: 284px;
            margin-bottom: 50px;
            @include mobile {
                width: 100%;
                margin-bottom: 37px;
                img {
                    width: 95%;
                    height: 80%;
                    

                }
            }
        }

        &_kontakt {
            @include mobile {
                margin-bottom: 93px;
            }
            p {
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 110%;
                display: flex;
                align-items: center;
                color: $blue-50;
                margin-bottom: 23px;
                @include mobile {
                    display: none;
                }
            }
           
        }
        &_tfone {
            display: flex;
            justify-content:space-between ;
            max-width: 167px;
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            display: flex;
            align-items: center;
            text-align: right;
            margin-bottom: 16px;
            a {
                color: $white;
                text-decoration: none;
            }
            
            
        }
        &_mail {
            display: flex;
            justify-content:space-between ;
            max-width: 145px;
            font-family: Proxima Nova;
            font-size: 16px;
            line-height: 110%;
            display: flex;
            align-items: center;
            text-align: right;
            margin-bottom: 33px;
            a {
                color: $white;
                text-decoration: none;
            }
            @include mobile {
               margin-bottom: 0;
            }
            
        }
    }
    .documents {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 52%;
        margin-right: 9%;
        &__sections {
            display: flex;
            flex-direction: column;
            align-self:flex-start;
            justify-content: space-between;
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 110%;
            color: $white;
            h3 {
                margin-bottom: 20px;
                font-family: Proxima Nova;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 110%;
                color: $blue-50;
                }
                p {
                    margin-bottom: 10px;
                }
        }
        @include mobile {
            display: none;
        }
    }
    .bottom-footer {
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: 0 auto;
        @include mobile {
            flex-direction: column;
            align-items: center;
        }
        p {
            font-family: Proxima Nova;
            font-size: 16px;
            line-height: 110%;
            color: $white;
            a{
                color: $white; 
                font-size: 16px;
                text-decoration: none;
            }
            @include mobile {
                font-size: 12px;
                a{
                    color: $white; 
                    font-size: 12px;
                    text-decoration: underline;
                }
            }
        }
        &_block-share{
            display: flex;
            justify-content: space-between;
            width: 22%;
            @include mobile {
                position: absolute;
                top: 32%;
                left: 10%;
                width: 80%;
            }
        }
    }

}

.flexwrapper{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0;
    }
}