.main {
    max-width: 95%;
    grid-area: "main";
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 295px minmax(auto, 1015px);
    @include mobile {
        grid-template-columns: 320px;
        margin: 0;
    }
}





.main__select {
    width: 170px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    background-color: $white;
    @include mobile {
        margin-left: 2.5%;
    }
}

.content-wrapper{
    margin-left: 50px;
    @include mobile {
        margin: 0 0 100% 0;
    }
}